[2018-01-13 14:55] evgfreyman opened #3 "Unknown CMake command "find_package_handle_standard_args""
Getting an error

when trying to use these models for finding MLPack by the following command: `find_package(MLPACK REQUIRED)`.  Tried the latest CMake 3.6

It seems that adding `include(FindPackageHandleStandardArgs)` into beginning of `FindMLPACK.cmake` file solves this issue. I could create a PR for this fix, but I don't have enough expertise in CMake to claim this is a proper solution. So, ple

[2018-01-16 13:34] rcurtin commented on #3
Ah, yeah, find_package_handle_standard_args() has to be made available.  So yeah, just the `include(FindPackageHandleStandardArgs)` should be sufficient.  If you make a PR we can merge it.  Thanks!

[2018-01-23 20:11] zoq commented on #3
Fixed in: https://github.com/mlpack/models/pull/4.

[2018-01-23 20:11] #3 closed

[2018-02-07 23:52] zoq opened #6 "Continuous integration"
To make sure the code builds it would be great if we could set up some continuous integration services:

- [x] Set up Travis
- [ ] Set up Appveyor

Realistically we can adapt (remove the test execution/build step) https://github.com/mlpack/mlpack/blob/master/.appveyor.yml and https://github.com/mlpack/mlpack/blob/master/.travis.yml for this repository.

At the end if

[code]

works this should be

[2018-02-24 18:39] yashsharan commented on #6
Hi,I would like to work on this issue.Thanks.

[2018-02-24 19:48] zoq commented on #6
Nice, let me know if you need any help.

[2018-02-25 10:26] yashsharan commented on #6
@zoq I went through the travis.yml file in the mlpack repo. What I observed is that the file would be mostly same for this repo right?

[2018-02-25 13:15] zoq commented on #6
Yes, we can remove the python part and the step for running the tests.

[2018-02-25 16:44] yashsharan commented on #6
So for the python part if i'm not wrong wrong the env: part of the code as well as the code which checks pip2 and pip3 are installed wont be needed right?
Also for the test part is this the code you are referring to?
install:
  - mkdir build && cd build && cmake -DDEBUG=OFF -DPROFILE=OFF .. && make -j

[2018-02-25 16:46] zoq commented on #6
You are right about the python part, the test part is:

[code]

[2018-02-25 17:19] yashsharan commented on #6
As suggested by you I removed those part of code from the file.But when i'm running the travis CI,my build is failing.
Here's the error which it is showing:

[2018-02-25 19:18] zoq commented on #6
How does the travis file look like? Can you open a PR?

[2018-02-25 19:49] yashsharan commented on #6
I have created a PR.I will squash the commits at the end once my code runs correctly.

[2018-02-28 11:59] yashsharan commented on #6
My travis.yml build is successful now.Should I squash all the commits and send a PR?

[2018-03-18 12:19] yashsharan commented on #6
@zoq I'm thinking of integrating appveyor CI.If i'm not wrong the test script wont be needed right?

[2018-03-18 13:07] yashsharan commented on #6
I had one doubt. I cant seem to figure out in which line is the make command getting executed in appveryor.yml file

[2018-03-18 15:31] zoq commented on #6
configure/cmake step:
https://github.com/mlpack/mlpack/blob/0e14562937fbbe3fba007d93e251d07496e7dced/.appveyor.yml#L36

build/make step:
https://github.com/mlpack/mlpack/blob/0e14562937fbbe3fba007d93e251d07496e7dced/.appveyor.yml#L37

[2018-03-18 15:31] zoq commented on #6
You are right the test step isn't needed.

[2018-03-18 15:36] yashsharan commented on #6
so what does line 38 and 39 do?(  - 7z a mlpack-windows-no-libs.zip "%APPVEYOR_BUILD_FOLDER%\build\Release\*.exe")

[2018-03-18 15:40] zoq commented on #6
Line 38 and 39 creates an archive that contains the library and or executables.

[2018-03-18 15:42] yashsharan commented on #6
So basically i will be building both mlpack and model repo. And that archive would be needed to be created for both the libraries right?

[2018-03-18 15:43] zoq commented on #6
I think we don't have to create an archive for the models repo.

[2018-03-18 15:45] yashsharan commented on #6
ohh i see.Thank you

[2018-03-18 17:26] yashsharan commented on #6
I guess I need a little help.In the final step for cmake for the models repository,an error pops up saying that CmakeList.txt is not present even though it is.

cmake -G "Visual Studio 14 2015 Win64" -DBLAS_LIBRARY:FILEPATH="%APPVEYOR_BUILD_FOLDER%/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARY:FILEPATH="%APPVEYOR_BUILD_FOLDER%/mlpack/OpenBLAS.0.2.14.1/lib/native/lib/x64/

[2018-03-18 17:40] zoq commented on #6
```CMake Error: The source directory "C:/projects/models/build" does not appear to contain CMakeLists.txt.```

Are you sure you are using the correct path, ``C:/projects/models`` is the one that has the CMake file.

[2018-03-18 17:43] yashsharan commented on #6
Yeah I guessed that too but where I'm getting confused is that for building mlpack repo, similar code has been written and there no error is there so why is it showing an error when i'm using almost same code to build the model repo?

[2018-03-18 18:07] zoq commented on #6
Not sure what the issue is, you could open a PR, or I guess another idea is to check the output with some ``dir, cat`` commands.

[2018-03-18 18:09] yashsharan commented on #6
I will open a PR first then. Also will writing cmake .. -G instead of cmake -G work ,like we compile it in linux?

[2018-03-18 18:15] zoq commented on #6
yes, this should work.

[2018-10-29 16:31] GLmontanari opened #16 "Cannot open file in Release mode"
Hi!

I'm trying the DigitRecognizer example code on MSVS 2017. I fed the program the training dataset path as "C:\\... ...\\train.csv" and I could run it in Debug mode, x64.
Unfortunately when I switch to Release mode I get the following run-time error:
`
Unhandled exception at 0x00007FFA6920A388 in for_mlpack.exe: Microsoft C++ exception: std::runtime_error at memory location 0x00000071375FE088.`

[2018-10-30 21:47] rcurtin commented on #16
If I understand the code correctly, it will load `Kaggle/data/train.csv` relative to the working directory you run the program from.

Or do you mean that you modified the path to `data::Load()` in `digit_recognizer.cpp`?

It looks like there is some kind of memory corruption in the path that the code is trying to open.

[2018-10-31 16:09] GLmontanari commented on #16
The first time I didn't change the path, as you said the corresponding line of code was
`data::Load("Kaggle/data/train.csv", tempDataset, true);`
with `Kaggle/data/train.csv` as relative path to the working directory I'm running the program from.
Next I tried different absolute paths, like for example
`"C:\Users\me\Documents\Visual Studio 2017\Projects\my_project\my_project\train.csv"`
and also
`"

[2018-11-01 20:01] rcurtin commented on #16
I'm glad to hear you found a workaround, but I'm still pretty confused by the original error.  I haven't ever seen this behavior before with `data::Load()` and can't reproduce it.  I think that maybe the best idea here might be to look into it with a debugger?

If you want to accelerate matrix loading, by the way, I'd suggest saving them either as an Armadillo binary file or as HDF5---it takes a l

[2019-01-21 16:44] rcurtin opened #19 "Transition to ensmallen instead of `mlpack/core/optimizers/`"
Some of the models still use mlpack optimizers when instead they should be using ensmallen optimizers.  To fix this we should:

1. Make the CMake configuration for this project search for ensmallen (and download if needed).  We can just use the existing mlpack `CMake/FindEnsmallen.cmake` for this.
2. Instead of including things from `mlpack/core/optimizers/...` we should just include `ensmallen.hp

[2019-04-24 20:48] zoq commented on #19
Fixed with #18.

[2019-04-24 20:48] #19 closed

[2019-08-15 19:21] dav-ell opened #34 "README and usage details"
Can more detail be provided on how to make use of the models in this library? I see it's still under development, but a quick description of the basic setup of everything would help beginners a lot.

[2019-08-15 19:37] zoq commented on #34
Agreed, will write something up in the next days.

[2019-12-09 10:50] unnamed082 opened #35 "when I execute the project DigitRecognizerCNN I get an error"
win8.1 x64
qt creator 5.12.0 , mingw 7.3.0

I copied the mlpack / models folder and indicated the paths to the models / Kaggle / kaggle_utils.hpp file
the program breaks inside the for loop (int i = 0; i <= CYCLES; i ++)

text error:
Сигнатура проблемы:
  Имя события проблемы:	APPCRASH
  Имя приложения:	mlpack.exe
  Версия приложения:	0.0.0.0
  Отметка времени приложения:	5dee23f7
  Имя модуля с о

[2019-12-09 13:20] zoq commented on #35
Hello @unnamed082, can you make sure dataset is loaded correctly, e.g. what is the output of:

[code]

[2019-12-13 04:48] unnamed082 commented on #35
Hello @zoq
785
42001
if i check after load tempDataser

and i find that program crashes on this row in cycle:
model.Train(trainX, trainY, optimizer);

[2019-12-26 15:49] zoq commented on #35
Sorry for the slow response, I'm wondering if this error is specific to the system you are running on or the example, can you check if the test case:

https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/convolutional_network_test.cpp#L32

fails as well?

[2019-12-27 09:54] unnamed082 commented on #35
this example runs without errors

[2019-12-27 10:22] unnamed082 commented on #35
constexpr int CYCLES = 1;

      constexpr double STEP_SIZE = 10e-3;//5e-3;

      constexpr int BATCH_SIZE = 1;

      cout << "Reading data ..." << endl;

      arma::Mat<unsigned char> matrix;
      data::ImageInfo info;
      data::Load("../berlin_0.png", matrix, info, false, true);

      size_t samples = 1;
      const arma::mat trainX(matrix.n_rows, samples);//преобразование из Mat<unsigned

[2020-01-02 10:12] OO7kartik commented on #35
could you share the command you used to compile?
and how did you give the path to models / Kaggle / kaggle_utils.hpp?

[2020-01-06 15:32] adithya-tp commented on #35
Hey there @unnamed082 ! I am trying to look into this issue as well, but i need to fix a problem with loading images, before i can get to the issue at hand.

The code that i used is a follows (exactly the same as yours with slight chages such as the imports):

      #include <mlpack/core.hpp>
      #include <mlpack/core/data/split_data.hpp>
      #include <mlpack/methods/ann/layer/layer.hpp>

[2020-01-06 16:16] unnamed082 commented on #35
You have problems connecting and using the STB library, I encountered such a problem when I created 2 projects with the same name and there were internal Cmake errors. Try creating an empty project and plugging in the STB library and then into your project.

[2020-01-09 09:25] adithya-tp commented on #35
@unnamed082 , shouldn't the number of output nodes in the "Linear Layer" = 1, since trainY has only one value?
that is, shouldn't it be
`model.Add<Linear<> >(6*2510*2398, 1);`
and not
`model.Add<Linear<> >(6*2510*2398, 2);` ?

[2020-01-09 09:26] adithya-tp commented on #35
@unnamed082 , oh and the HAS_STB error was resolved by adding the macro while compiling the file, namely, i used,
```g++ cnn.cpp -o cnn `pkg-config --cflags --libs mlpack armadillo` -fopenmp -DHAS_STB```

[2020-01-09 11:16] unnamed082 commented on #35
I think in the output layer we indicate the number of classes
trainY has a column / row equal to 1, but the values inside are different
I can’t look at an example now, but I remember that
if I am not mistaken

[2020-01-09 11:55] adithya-tp commented on #35
Okay. The following is related to your issue, but not exactly. However, the code is quite similar so I decided to post it here. When I try to train the following cnn on a single picture, it only runs when I include the line

`arma::conv_to<arma::mat>::from(matrix).print("Print Image: \n");`

However, if I comment out this line, the code no longer runs (both cases compile. but in this case doesn't

[2020-01-14 21:24] knakul853 opened #37 "Revamp CMake configuration to "modern" CMake"
This issue came about as a result of #2107, which disables Boost's CMake configuration scripts because mlpack's CMake configuration is written in "old-style" CMake.

assignees  myself

[2020-01-27 16:45] kartikdutt18 opened #40 "Addition of MobileNet and architecture to load certain datasets."
Hi  I wanted to contribute to this organization by adding mobilenet (implementation similar to pytorch/tensorflow with attributes such as include top).
2. Secondly, I also wanted to add models folder where models can be stored as classes and a user can directly import them and train on their dataset.
3. A Samples folder where all models would have a test script where they can be trained directly.

[2020-01-28 20:21] zoq commented on #40
Hello @kartikdutt18 would be great to work on all of those point, but better to start with one, as you already pointed out. So if you like to work on MobileNets please feel free.

[2020-01-29 02:09] kartikdutt18 commented on #40
Thanks @zoq, I will start working on mobilenets.

[2020-01-29 05:24] rcurtin opened #41 "Use ensmallen callbacks for LSTM examples"
Right now, the optimizations in the LSTM examples manually run a single epoch at a time, in order to print the loss at the end of each epoch.

But now that we have ensmallen callbacks, this isn't necessary anymore, and we can significantly simplify our code.

The task is to go through the LSTM examples and make this change.

This comes from the discussion here: https://github.com/mlpack/models/pul

[2020-01-29 05:26] rcurtin opened #42 "Simplify `SaveResults()` in LSTM examples"
This comes from the discussion here: https://github.com/mlpack/models/pull/36#discussion_r366669401

The goal is to make the change to the code that I suggested, and ensure that the code still works properly (so we should compare the output before and after the change, and make sure there's not any issue).

[2020-01-29 05:27] rcurtin opened #43 "Only fit `MinMaxScaler` on training data in LSTM examples"
This comes from https://github.com/mlpack/models/pull/36#discussion_r371056033.

Right now, the LSTM examples use `MinMaxScaler` to scale the data.  But they use all of the data to fit the `MinMaxScaler`, which is actually a leakage of test data into the training process, and is not good data science practice. :)

So, it should be a simple change to ensure that `MinMaxScaler`'s `Fit()` method is o

[2020-01-29 08:30] zsogitbe commented on #43
Be careful here because if you only calculate the min, max and scale (fit) for the training part of the data then the test data may be out of range and this may influence the test results significantly in a wrong way. Furthermore, the final results will also be wrong because the test data which is used for the prediction is wrongly inverse transformed!
If you would want to separate the normalizati

[2020-01-29 14:51] rcurtin commented on #43
This is standard data science practice and if I saw someone in my company doing their preprocessing on the entire dataset, I would make them change it. :)  The train/test split process for any machine learning algorithm is built on the assumption that the data distribution that the training points and test points arise from is the same.  If this is not true, the model will have serious issues when

[2020-01-29 15:41] zsogitbe commented on #43
Yes you are right, the generalization error (the reason why we split in training and testing sets) is only valid if both training and testing sets are coming from the same distribution (otherwise our statistical rules do not apply anymore). If they are not coming from the same distribution then the generalization error is not representative, therefore does not have any sense to test the model with

[2020-01-29 15:55] rcurtin commented on #43
Yes, it is a discussion about statistics theory, but it *does* matter because it is an example we are showing to people who are interested in using mlpack for their applications.  Therefore, we should try to avoid doing things that are inadvisable (theoretically or otherwise) in that example, and hence, this issue is open.

[2020-01-31 19:25] zoq commented on #40
Sounds good.

[2020-02-05 15:32] birm opened #46 ""expected ‘)’ before ‘>’ token" make error with ubuntu trusty (14)"
This was encountered when trying to fix the travis Ci build in #45. It was resolved by updating ubuntu to xenial (16).
I've put the relevant travis config (and thus steps for replication) below, and the relevant make errors below that, just in case [the direct link to the travis build](https://travis-ci.org/mlpack/models/jobs/646449834?utm_medium=notification&utm_source=github_status) doesn't work

[2020-02-13 04:59] birm commented on #34
closed with #38

[2020-02-13 04:59] #34 closed

[2020-02-14 01:40] rcurtin commented on #46
I believe this issue is a result of the fact that trusty only has (ancient) gcc-4.8 available.  That doesn't even have complete C++11 support, so variadic templates like the one you encountered above won't compile.  I think that the right solution here might be to use the same strategy that's in mlpack's CMake configuration with the lines:

[code]

but that may also require a bump in the minimum C

[2020-02-17 13:24] heisenbuug opened #54 "Adding New Models"
Hey, I am thinking that we can add more models in mlpack model zoo. In GSoC 2019 it was stated that ResNet will be added but I can see that it has not been implemented yet. I was thinking of implementing [SegNet](https://arxiv.org/pdf/1511.00561.pdf)
We can start by adding basic models for start. I want to help mlpack model zoo grow under GSoC 2020 and I want to start working on it. I  think we ca

[2020-02-17 16:54] #46 closed

[2020-02-17 17:19] #6 closed

[2020-02-18 22:55] zoq commented on #54
Would be great to extend the implemented models, personally I would focus on one area first instead of trying to cover everything, unless somebody likes to implement a specific model. Anyway, maybe it makes sense to start with something less complex like MobileNet or Darknet. Let me know what you think.

[2020-02-19 05:54] heisenbuug commented on #54
I agree with you @zoq But I have have doubt.
MobileNet is a CNN used to classify images whereas Darknet is a NN framework, right? So are we thinking about implementing models or frameworks?
I think we can start with models as implementing a framework will require more discussion. What do you think?

[2020-02-20 12:51] heisenbuug commented on #54
@zoq Hey, is there any upsampling2D algorithm implemented in mlpack? Coz I need to upsample the images in SegNet. Also how should I test the result, I am kinda done with basic architecture of the model but need to test it on some images.

[2020-02-21 20:47] zoq commented on #54
Darknet is a framework and a model, for example YOLOv2 uses the DarkNet 19 architecture, YOLOv3 DarkNet 53, some of the models configs are here: https://github.com/pjreddie/darknet/tree/master/cfg.

In this case you would have to implement an `upsampling2D` layer, about testing what about you create a simple test set, that shows that the model works as expected.

[2020-02-22 03:31] kartikdutt18 commented on #54
@heisenbuug , Can I help out by implementing upsampling layer?

[2020-02-22 17:05] heisenbuug commented on #54
If you have already figured out how to implement it then go ahead, till then I will work on completing the model.

I will look more into Darknet framework and will try to come up with a plan to implement it. I think it will be a long process implementing a framework.

[2020-02-22 18:46] kartikdutt18 commented on #54
Great, Taking it up then.

[2020-02-22 19:20] heisenbuug commented on #54
Hey @kartikdutt18 If you want I think you can take help from here(https://github.com/alexgkendall/caffe-segnet/tree/segnet-cleaned/src/caffe/layers)

Atleast this may help you to understand the flow.

[2020-02-22 20:09] heisenbuug commented on #54
@zoq Hey, I found pre-trained model of SegNet [here](url)https://github.com/alexgkendall/SegNet-Tutorial/blob/master/Example_Models/segnet_model_zoo.md
I saw on mlpack documentation that we can input wieghts in .xml format. I can download weights from [here](https://github.com/alexgkendall/SegNet-Tutorial/blob/master/Example_Models/segnet_model_zoo.md) but they are not in xml format. Can we conver

[2020-02-22 23:01] zoq commented on #54
Just to be clear I don't want to implement the framework, I was just saying Darknet is not necessary a framework but also a specific model.

[2020-02-22 23:06] zoq commented on #54
@sreenikSS worked on onnx here: https://github.com/sreenikSS/mlpack-Tensorflow-Translator, but as long as not every layer is supported you can't exchange weights between frameworks, that applies to every framework out there.

[2020-02-23 07:40] mrityunjay-tripathi commented on #54
I can work on Inception-v3 if no one is already working on it. :)

[2020-02-23 07:50] kartikdutt18 commented on #54
I think there is a PR open on mlpack repo to implement inception layers.

[2020-02-23 07:57] mrityunjay-tripathi commented on #54
Hmmm... got it. Will see what I can do.

[2020-02-23 09:15] heisenbuug commented on #54
Yea @zoq , I got that, even at first I was also looking to implement YOLO, but I ended up on SegNet.

Hey @mrityunjay-tripathi it would be better if you first go through the architecture and see if all the required layers and functions are available with mlpack, if not working on those implemntations would be better. Implementing these layers for whole library and not a specific model would be bet

[2020-02-23 09:19] heisenbuug commented on #54
@zoq
I think we need to add more basic functionality to the library so that we can use weights from other pre trained models. Also some layers need to be implemented in order to support implementation of more models. I think by implementing model and creating functionalities for whole lib rather than making them model specific would be a good plan for now.

[2020-02-23 09:20] mrityunjay-tripathi commented on #54
Agree. We are missing some of quite basic functionalities.

[2020-02-23 09:33] heisenbuug commented on #54
I am discussing same with other, regarding the implementation of more basic functionalities. Once I am done working on SegNet I will start working on that as well.

[2020-02-23 10:17] kartikdutt18 commented on #54
Hmm, I think most functionalities are present in mlpack, few layers that are needed already have a PR open and hopefully will be made available soon. I am also working on some layers. It might be a better idea to implement models that you are sure you can implement with the layers that are present in mlpack. As @zoq, suggested it is better to start with small models.

[2020-02-23 23:57] zoq commented on #54
If there is anything that you think is missing, please open an issue; the machine learning area evolves so fast, there is always something missing, that is required by some models.

[2020-02-27 18:20] heisenbuug commented on #54
Hey @zoq I wanted to have a discussion regarding GSoC proposal. Where should I start one? I also mailed all the mentors regarding my thoughts about project...

[2020-02-28 00:50] zoq commented on #54
We usually discuss projects on the public mailinglist.

[2020-02-28 14:17] heisenbuug commented on #54
@zoq I have mailed on public mailing list, sorry for not following the proper channel here.

[2020-02-29 04:02] kartikdutt18 opened #57 "Implementation of Tests?"
Hi everyone, This is in reference to PR #50, if models are added as libraries rather than cpp file so that they can be included in other cpp files, Rather than testing only on the system of the person who created the PR, does it makes sense to add a single pass on given dataset?
Another test would be loading of weights for the given model.
I am not sure if this needed but I think if changes are ma

[2020-02-29 09:15] prince776 commented on #54
Hi @heisenbuug  Residual module is actually added in `sequential.hpp` in mlpack/methods/ann/layer. I also started working on Residual block but discovered it already existed.

[2020-02-29 09:25] prince776 commented on #57
I agree, if we have a models library(like keras.models) with and without pretrained weights then transfer learning will also become easier to implement.

[2020-02-29 09:32] kartikdutt18 commented on #57
Great, If this is something that is worth implementing we can split up the task, I think I have a clear idea of implementation and it would end up requiring 3 changes and we could split them up so that we can get more done.

[2020-03-02 06:09] heisenbuug commented on #54
Hey @prince776 yea, I saw it, we can discuss where to put these models later, I don't think that will an issue. Also documentation will be done once more models will be added.

[2020-03-02 06:13] heisenbuug commented on #54
Hey @kartikdutt18 are you done with this? To complete the model I need that layer and also further testing will be need once I am done with the model...

[2020-03-02 06:54] kartikdutt18 commented on #54
Hi @heisenbuug, Sorry it's taking me a little time. I have completed Forward pass for that layer but I have my exams in this week so I am only able to work on any issue only during the breaks that I take. I hope to get it done by Sunday (of this week). I hope that's okay with you. Sorry again for causing the delay.

[2020-03-02 14:59] heisenbuug commented on #54
Hey Kartik,
Its fine, no worries. Even I am having my exams this week. So I will start
working on it from 12th of this month.

Regards.
Gopi M Tatiraju

On Mon, Mar 2, 2020, 12:24 kartikdutt18 <notifications@github.com> wrote:

[2020-03-03 21:41] zoq commented on #57
Good idea, I guess any easy way to test the models is to provide predefined weights for each model, let them train for a number of iterations and see if they return the correct results

[2020-03-03 22:48] favre49 commented on #57
I think this ties into the more general question of how to structure this repository, because as it stands it isn't as nice and clean as our other repositories. In my opinion, we should decide on a clear file heirarchy before we continue.

Doesn't this also mean we should also change VAE? Also, for the Kaggle folder, we have "examples" instead of these extensible "models", so maybe we should be ma

[2020-03-04 10:43] kartikdutt18 commented on #57
I completely  agree, I wanted to implement the following changes (For at least all the models that I add).
If it's okay It might be a nice idea to do it for all all code in models repo.
Here are the changes that I think might be useful:

1. Models should be included as libraries / classes (sample can be seen in PR #50). So a user can call models/alexnet.hpp and use alexnet as base network for some

[2020-03-04 10:44] kartikdutt18 commented on #43
Hi @rcurtin, There is already a PR open for this issue. If you get a chance, kindly take a look.

[2020-03-04 10:55] favre49 commented on #57
You've pretty much read my mind as to the structure of the codebase. This would mean some restructuring of the code already on the repo, but I don't see any problem with this.

[2020-03-04 10:56] kartikdutt18 commented on #57
Great, This should be fun to work on. @zoq, what do you think?

[2020-03-04 19:35] prince776 commented on #57
I was also imagining it like this @kartikdutt18 , I would love to help in this. I'll also add some new models like LeNet and VGG.

[2020-03-04 19:54] zoq commented on #57
A unified interface would be useful, that said I also don't want to introduce too much boilerplate code, I see the code as a neat way to show some real-world examples; so not sure if `CompileModel` is needed we could just construct the model in the constructor, or I guess `SaveModel` is another function that is probably just a wrapper around data::Save, we don't necessarily have to replicate the i

[2020-03-05 03:01] favre49 commented on #57
What I was thinking for the examples folder is a set of programs that a user could run directly, using the models defined in the header files. This is also better in cases like the digit recognizer, where I don't see the point of making a model - it just serves as a popular basic example.

[2020-03-05 03:18] kartikdutt18 commented on #57
Agreed, It would be much cleaner and simpler that way.

Yes, the user could provide name of supported dataset (like mnist) or path to his own dataset (ReadME would have structure in which csv should be in).

What I had in mind was, that in examples folder we could have code for problems such as time series, object detection etc. A user would use CLI to specify model name, path to dataset or name o

[2020-03-05 03:31] kartikdutt18 commented on #57
@prince776, That would be great. There is PR open for VGG already. I think there should be one PR to restructure (for now) otherwise we might end up having different style of implemented models and data-loaders, I think once I open the PR and the basic structure is approved you can modify the code into that structure and we could also add them to the repo. Till then a good way to start might be im

[2020-03-05 03:57] prince776 commented on #57
Ok sure. There are a lot of things I want to do, fell a little back due to exams but it's ok.

[2020-03-05 04:09] kartikdutt18 commented on #57
I am in a similar situation right now.

[2020-03-05 22:06] zoq commented on #57
I think the advantage of the current approach is that we can build each model independently, so if a user is only interested in a specific model there is no need to build everything else, which might come with some extra dependencies like opencv that are just not needed. But I think we could do both, but start with one?

[2020-03-06 01:20] kartikdutt18 commented on #57
Agreed, This was also discussed in Video meetup yesterday, some other points that were mentioned are:
1. Ensure optional download of weight (testing is optional for user).
2. Same for datasets.

I'll start with one thing and take it from there. I think this would be great.
Thanks.

[2020-03-06 21:56] zoq commented on #57
Sounds good, I think it's easier to discuss changes if we have a minimal example.

[2020-03-08 18:18] kartikdutt18 commented on #57
Hi everyone  I changed the DigitRecognizerCNN a bit to support LeNet1, LeNet4 and LeNet5.

Here are some intial results (Ran on my local machine, will run more epochs on my college workstation.)

[code]

I haven't added comments and there are some style issues. Once I fix them, I hope to open a PR for this issue tomorrow.
Thanks.

[2020-03-08 22:28] saraansh1999 opened #59 "Additional Model Application Examples"
I wanted to ask if the GSOC idea of implementing the ANN applications is to be done in this repo?

[2020-03-09 02:35] kartikdutt18 commented on #59
Hi @saraansh1999, Yes. Its is done here. I think we can close this then what do you think?

[2020-03-09 14:26] saraansh1999 commented on #59
I had a few ideas for the project and the things that can be implemented:

CNNs:
1. Image Colorization
2. Style Transfer
3. Face Detector
4. Pose estimation
5. Visual Tracking
6. Facial Biometric Spoof Detector
7. Generation of Fake images

RNNs:
1. Potry generation
2. Language Translation

Others:
1. Visual Question Answering

Would love to hear your ideas/suggestions on this.

[2020-03-09 21:28] rcurtin opened #61 "What is this repository for?"
I've opened this issue to follow up on the discussion that we had in the video chat last week (CC: @shrit, @kartikdutt18).  This kind of comes out of some comments I made on #55 and in some other places, where I thought this repository was a place to collect example implementations that people could base their own applications off of.  However, I don't think that's necessarily what we have to make

[2020-03-10 03:26] kartikdutt18 commented on #61
Hi @rcurtin, I think PR #60 addresses some of these issues and hopefully the rest of the soon.
I hope this message doesn't get too long. So here are the changes I made :

New Directory :

[code]
In depth changes:
1. data:
	Using cmake user will specify either to download all models, datasets or download a particular file using
	`-DDOWNLOAD_MNIST=ON` or `-DDOWNLOAD_DATASETS=ON`
2. weights:
	Using c

[2020-03-10 03:38] kartikdutt18 commented on #59
Hi @saraansh1999, This is a great list. However I think it might be a better idea to discuss this on a public channel so that more people can jump in to help you. I personally prefer the mailing list because you can write a bit more compared to the IRC.
This just a suggestion, you can keep this issue open if you like.

[2020-03-10 05:53] kartikdutt18 commented on #61
Also here is another comment that I made earlier this in a discussion in #57 :

Full discussion can be found in #57

[2020-03-12 17:16] favre49 commented on #61
In my opinion, this is what this repository should be. We did have a short discussion about this in #57 .

A couple months ago, @zoq and I discussed the possibility of using Jupyter notebooks for smaller programs and tutorials. Do you think we could employ Jupyter notebooks to handle this class of users? I haven't looked far enough into it to create a concrete plan, but I think it's a good idea no

[2020-03-13 05:05] jeffin143 commented on #61
The transfer learning approach, Download the model with saved weight and just plugin your own dataset, May be an option to change input and output, I like the idea @rcurtin

@sreenikSS work may come in handy here, Since the converter could convert many models and hence we don't have to explicitly write it may be

[2020-03-13 12:45] rcurtin commented on #61
@kartikdutt18 thanks for the response.  I have no issue with long responses, if you haven't guessed. :smile: I think the proposal makes sense and would be a nice improvement to the repository.  Any comments I would have are pretty minor (like, e.g., would CMake be the best way for users to specify that weights should be downloaded?  Or should it be some other utility or way?) and personally I thin

[2020-03-13 12:59] kartikdutt18 commented on #61
Great, I have a PR open for this which will be a bit tedious for review. Currently I have implemented download using CMake but I think the best way would be to download them in run time if the option for using weights / datasets is set to `true`. I am currently working on a generic data loader to support various popular datasets such that more datasets can be added without any hassle. Then I will

[2020-03-13 21:23] zoq commented on #61
Thanks @rcurtin for opening the issue and thanks for splitting users into groups.

Personally, I would focus on "Folks who want to read the code here, understand it, and copy-paste it into their own applications.". So instead of trying to provide an executable that supports different datasets and tasks, have a single file that implements one concrete problem.

Like classification of the cifar10 da

[2020-03-13 21:51] jeffin143 commented on #61
@zoq definitely we are drifted towards Ann a liltle bit , and I agree we definitely shouldn't have a examples sections which would handle first group of users

Now we have to decide whether we should have it in this repo or seperate repo , personally I would not mix both of them

[2020-03-14 03:11] kartikdutt18 commented on #61
Hey @zoq, @jeffin143, I think that something like this [tutorial](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html) would make sense. It would have only a main function and we import rest of the model, data from the rest of the repo.
For machine learning, I think simple tutorials in a folder should suffice. I think they are well documented in [mlpack.org](https://www.mlpack.o

[2020-03-14 12:02] sriramsk1999 commented on #61
Just throwing in my 0.02$ here.

I agree with @zoq that  "Folks who want to read the code here, understand it, and copy-paste it into their own applications." would be the more common group of users and the ones to focus on. In my opinion, an `examples` folder in the main mlpack repo would be the best way to go about serving this group.

It makes sense to me to move the "one-shot" tutorial files c

[2020-03-14 16:53] zoq commented on #61
Agreed, I don't think it makes sense to mix them, ideally, we can keep the repository as simple as possible. We learned a lot when we outsourced the optimization framework into its own repository (mlpack/ensmallen), from a user perspective you don't have to search through some folders that you don't need or aren't interested in.

I don't necessary have tutorials in mind; writing a good tutorial ta

[2020-03-14 17:11] sriramsk1999 commented on #61
Hmm, I hadn't considered that. However, I'm still of the opinion that `examples` would be better placed on the main repo (perhaps with each example listing its dependencies?) given that it grants them so much more visibility than an auxiliary repo.

[2020-03-14 17:12] kartikdutt18 commented on #61
Ahh, I think I finally understand. So the goal for that repo would be have code for some trivial problems (in a tutorial like manner) so a user could understand how to use different methods (layers / machine learning algorithms) in mlpack for some problems to help them get started.

Got it. I guess I finally understand what the tutorial repo (of course a better name would choosen) should look like

[2020-03-14 17:20] codeboy5 opened #63 "Adding ZFNet"
I am working on adding ZFNet to the mlpack model zoo !!
Reference:- https://cs.nyu.edu/~fergus/papers/zeilerECCV2014.pdf

[2020-03-14 17:38] favre49 commented on #61
The problem I had with this vs. having an examples folder in this repo is:
1. Does something this simple warrant it's own repo? The way I envision it, it would be a repository that would look like a single folder of example.cpp files, essentially.
2. Visibility of this repo to the public. But I think if we linked against it on the website or something, it could work.
3. I'm confused about the diff

[2020-03-14 17:44] kartikdutt18 commented on #63
Hey @codeboy5, isn't it the same as alexnet with different kernel_size. If so, wouldn't a typedef with kernelsize be a better idea?
I might wrong though, looking forward to your response. Thanks.

[2020-03-14 17:53] codeboy5 commented on #63
Yeah I don't there is any major difference, but just thought to make the repo exhaustive.
Sure I will do it according to the latest format. Thanks!

[2020-03-14 17:54] kartikdutt18 commented on #63
Great. Thanks a lot.

[2020-03-14 18:38] jeffin143 commented on #61
@favre49 , When I first came across models repo in mlpack, I thought it had saved models which I could preload and work upon, But then I came across the fact that it has some of the example how mlpack work and the functionalities it provide, Like CNN code which simple creates A CNN architecture

So The whole understanding of models repo now to be is something as of below, Where The models would be

[2020-03-14 18:55] kartikdutt18 commented on #61
Hmm, I think by benchmarking I meant user would pass his dataset or datasets that we support, set of models and we would return the best possible model for fixed (tunable) epochs and hyper-params. And standard dataset would allow me to just pass say `mnist` and I would have initialized trainX, trainY etc that they could directly be passed into `model.Train()` without user changing anything.

[2020-03-15 06:55] codeboy5 commented on #63
@kartikdutt18 any idea by when would you be able to refactor, I would merge locally before a PR.
Thanks !

[2020-03-15 06:57] kartikdutt18 commented on #63
There are lot of plans that need to integrated. You can test the model and leave the PR open. Either it will get merged or I'll absorb it as part of my PR when it's approved.

[2020-03-15 07:16] codeboy5 commented on #63
Okay makes sense, just another thing, should my PR have all the format of LeNet as in the data loaders folder, examples folder or just the model as a class?

[2020-03-15 07:19] kartikdutt18 commented on #63
Ohh no, just wrap your model in the class. That PR isn't finalised so if you take stuff from there you would end up making changes for a long time. Just use the current repo. Have a single file called mnist_zfnet and add ZFnet as a class if possible or implement it as a FFN if that's more convenient to you.

[2020-03-15 11:11] codeboy5 commented on #63
Hi @kartikdutt18, does your AlexNet implementation work, I pulled it from your branch and it seems to give me a segmentation fault. Any idea what could be the reason ?

[2020-03-15 11:14] kartikdutt18 commented on #63
I think the the on GitHub had that issue, You can refer to my LeNet implementation (import and use on dataset manually, don't use the data loader[its still a WIP]). It works. For AlexNet I made some changes locally that I haven't pushed because I'll merge it as part of my restructuring. Also don't refer to that model, it has a lot of unnecessary functions.

[2020-03-15 11:16] codeboy5 commented on #63
Oh, thanks!

[2020-03-15 11:20] codeboy5 commented on #63
@kartikdutt18 LeNet one works like a charm, thanks a lot

[2020-03-15 11:22] kartikdutt18 commented on #63
Great!!!
I'll be pushing some other models that you could use as reference if you want.

[2020-03-15 11:46] codeboy5 commented on #63
I am also getting a segmentation fault on my model, could the small dimension (28*28) of images be an issue ?

[2020-03-15 11:47] kartikdutt18 commented on #63
Don't think so. I got the alexnet working once so that's not the issue. Also input size shouldn't affect model unless input size < kernel_size.

[2020-03-15 12:02] codeboy5 commented on #63
Yeah, that ends up happening, I worked it out using sizes, any other dataset that would be available in a similar format?

[2020-03-15 12:10] kartikdutt18 commented on #63
Are you sure about that? I think ZFNet works on mnist dataset. And I have trained very large modules on mnist to see if they work fine so I am thinking it should work.
If you want you can simply pad mnist dataset, though it should not be necessary.

[2020-03-15 12:14] codeboy5 commented on #63
Okay, i will take another look or wait for you to push some models.

[2020-03-16 17:22] shrit commented on #61
There are a lot of great propositions here.
I thought about one which is more different.

I agree with @rcurtin as there are a lot of folks who want to read the code rapidly, understand it, and copy-paste it directly into their code.
For this reason, @kartikdutt18 has proposed to create an `examples` folder that has these examples, which is great. I have two ideas to add here:
 1) Instead of mixin

[2020-03-16 23:21] rcurtin commented on #61
Awesome, great to see so many responses.  :smile:  I think we all agree that we definitely have two different kinds of users and it seems to me like it would be worthwhile to treat those users separately---everyone seems to agree (mostly?) that there should be two different repositories for these purpose.

There will be some details to work out for sure, too.  Luckily we have tons of suggestions.

[2020-03-17 02:54] kartikdutt18 commented on #61
Hey @rcurtin, I think the first option might make more sense, as @zoq pointed out we might add extra dependencies to the examples which are not needed to build mlpack. So I think it makes sense to have two repos, one for examples and another for pretrained / prebuilt models.

[2020-03-17 04:16] favre49 commented on #61
I really like the git submodules idea, I think we should go for that.

[2020-03-17 05:27] sriramsk1999 commented on #61
I think the first option is better as well. Its only con (?) would be an increasing number of repos, but that is much better than the dependencies problem of the second option.

[2020-03-17 14:46] zoq commented on #61
I agree with the general idea, but would it make more sense to create a new repo for the examples and move the code we already have over there, instead of renaming this on and create a new repo? I think most of the current PR's address the second type of users?

[2020-03-17 15:29] sreenikSS commented on #61
I'm a little late. Some really great ideas here. Since we are en route to a final decision, I think rounding up the details wrt the perspective of a new user would be a good idea. That being said, let's assume I am a new user of mlpack but I have knowledge about keras/pytorch:
* I decide to create an mnist model
* I find this *models* repo (let's call it *models* repo for now) and go to the *mnist

[2020-03-17 15:44] kartikdutt18 commented on #61
Hey @zoq, I think it might be a better idea to simply rename this repo and create a new one. Since the new repo would have a proper structure it might be easier to add models and other tools there once a structure is decided, rather than moving files from here to new repo and then restructuring this one. I think most active PRs can easily be shifted there. What do you think?

[2020-03-17 21:38] zoq commented on #61
Agreed, it should be super simple for users to run the code, but we can do that if we can keep the complexity low. I'm working on a simple notebook example, that I can hopefully show in the next days.

If that's fine with you, I think you opened most of the current PR's :)

[2020-03-18 01:15] rcurtin commented on #61
Awesome, it sounds like we are pretty much agreed.  If @kartikdutt18 is okay porting all his PRs then we can probably rename this repository to `examples` and make a new one called `models`. :smile: I'll let this sit for a couple of days before actually making the rename, just in case there are more comments.

To @sreenikSS's point, it seems like maybe the best idea for the `examples` repository i

[2020-03-18 03:01] kartikdutt18 commented on #61
It would be great as most of my PRs are more towards the second type of users so that will make a lot of sense.

I am fine with it, I will close them once we start a new repo, I hope that's okay. However #56 is more related to examples repo so I think I'll keep it open. What do you think?

Agreed, that would be a lot better. It would make sense to remove Kaggle/Utils as most of the functions in it

[2020-03-19 18:23] kartikdutt18 opened #65 "Adding Better Documentation and Modifying ReadME."
Since this repository currently focuses more on tutorials and example like code for beginners to help get started. I think some changes that need to be made:

1. Generalized tutorial in each folder.
    They need to be step by step format for anyone who reads the code so that one could apply the code here to his/her dataset. The tutorial should also explain in brief why some lines were added espec

[2020-03-19 18:42] kartikdutt18 opened #66 "Simplifying the Examples repository."
As per discussion in #61, The aim of this repo needs to be as simple as possible. The main aim might include :
1. Simplifying the code.
2. Maybe remove CMake, I think this would simplify the repo to the extent that one could user could copy the code, change the dataset path and change preprocessing a bit for his/her dataset and he should be good to go.
Looking forward to your response.

To Do:
- [

[2020-03-19 18:49] codeboy5 commented on #65
I would love to work on the mnist model.
Thanks

[2020-03-19 19:11] codeboy5 commented on #63
Hi @kartikdutt18 i was done working on the model, should i push my PR or you talked about a different models repo, so should i wait for it?

[2020-03-19 19:18] kartikdutt18 commented on #63
You can push it if you want. Might be awhile before we merge them though.

[2020-03-20 00:11] #40 closed

[2020-03-20 00:11] #16 closed

[2020-03-20 00:11] #35 closed

[2020-03-20 00:11] #37 closed

[2020-03-20 00:11] #42 closed

[2020-03-20 05:23] kartikdutt18 commented on #65
Hey @codeboy5, This is how I imagined the tutorial would go like:
1. Intro (Getting Started with mnist or anyother dataset).
2. Steps to process the dataset and why we processed it the way we did it in the code.
3. Creating a model (Generalized set of instructions), more details about the model and code in the folder of the model implementation.
4. Training and inference.
5. The results we got.

T

[2020-03-20 05:39] kartikdutt18 commented on #65
This is really good as well. https://yashk2810.github.io/Applying-Convolutional-Neural-Network-on-the-MNIST-dataset/

[2020-03-20 05:40] codeboy5 commented on #65
So do we want the documentation in separate README file ?
The plan you proposed sounds good to me, pretty comprehensive

[2020-03-20 05:43] kartikdutt18 commented on #65
I think each folder will have a readme. The main readme (whoever takes it up will have flow of the repo, Might take this if no one else does). Then in each folder like mnist we would have another readme, here we would focus on the data and results. The third readme would be inside folder of the model (Describing why and how of the model). Hopefully this makes sense and is not too overwhelming. Tha

[2020-03-20 10:07] codeboy5 commented on #65
So in the current folder format, there's this Kaggle Folder and different models inside them.
So I would place the README about the dataset in this folder and then README related to different models inside their respective folders e.g. DigitRecognizerCNN.
Does this sound okay?

[2020-03-20 12:21] kartikdutt18 commented on #65
That sounds great. Yes that's what I thought it would go like.

[2020-03-20 23:26] rcurtin commented on #61
Awesome, thank you everyone for your input on this. :tada: Now we have two repositories:

 - https://github.com/mlpack/examples (this one, used to be `models` but got renamed)
 - https://github.com/mlpack/models (the new one)

Both were created from the same codebase, so it should be easier to adapt them.

I think we have a direction to go here.  I can see some issues have already been opened to a

[2020-03-20 23:26] #61 closed

[2020-03-20 23:30] rcurtin commented on #66
Ah, @kartikdutt18, thanks for opening this. You beat me to it. :-D  (Also maybe worth referencing #61 too perhaps?)

I agree, I think that we should remove the CMake configuration entirely, and provide only very simple compilation instructions.  The intent of the code is to be easily copy-paste-able, so getting the compiler and everything set up is a little bit outside the scope of this repository

[2020-03-21 08:50] kartikdutt18 commented on #66
Sure, Thats sounds great. I have added a todo list in the description.

[2020-03-26 01:49] #41 closed

[2020-03-26 01:49] #43 closed

[2020-03-28 21:54] zoq commented on #66
So I'm a big fan of notebooks, so what about we rewrite the examples as notebooks; GitHub has a notebook renderer so people can copy/paste the code and on top of that we can provide an easy way to run the examples, no need to worry about installing the correct packages or using the correct compiler flags.

[2020-03-28 21:56] shrit commented on #66
@rcurtin are you working on simple makefiles? if not I start working on it.

[2020-03-28 22:00] shrit commented on #66
@zoq Are you referring to gitbook? I think the documentation are going to be a readme file in each example.

[2020-03-28 22:02] zoq commented on #66
Just the notebook file, @rcurtin had a nice example: https://github.com/ageron/handson-ml.

[2020-03-28 22:04] zoq commented on #66
I think what we have works, we don't necessary have to add a bunch of documentation around it.

[2020-03-28 22:15] shrit commented on #66
I think documentation will be improved slowly. However,  It would be nice to have a list of examples to add in the near future. Actually, it would be nice if we have a set of examples as described in handson-ml

[2020-03-28 23:09] rcurtin commented on #66
I haven't worked on any Makefiles; @shrit if you want to do that please feel free.  Maybe we can keep an `.ipynb` notebook file (`.icppnb`?? :smile:) and have its plaintext equivalent too.  That's what we do at my company (we just have to make sure to keep them in sync).

[2020-03-29 04:34] kartikdutt18 commented on #66
That sounds like a great idea. I can push a PR today for some examples maybe if you get a chance you could take a look.

[2020-04-05 11:08] codeboy5 commented on #63
@kartikdutt18 Hey, I was wondering what exactly is the difference between the Models repo and examples repo.
Which would be the appropriate repo to push this PR to?

[2020-04-05 15:56] kartikdutt18 commented on #63
This would make more sense in models repo. I plan on finishing part - 1 of restructuring in the next two days. Then after it gets merged we can merge zfnet as well. For examples repo, we would have real world examples / problems.

[2020-04-08 16:35] #54 closed

[2020-04-09 16:53] kartikdutt18 commented on #57
Keep Open (At least till mlpack/models#3 is merged).

[2020-04-18 14:35] #59 closed

[2020-04-26 13:13] #65 closed

[2020-04-27 06:45] kartikdutt18 opened #79 "Switch to Internal split for LSTM examples."
LSTM examples requires data that is not shuffled. Currently mlpack's internal `data split` class doesn't allow us to split data without shuffling yet. After mlpack/mlpack#2293 is merged we should be able to do that. This issue aims to make the change from the current implementation in LSTM examples to internal split.
Let me know if I need to clarify anything.
Thanks a lot.

[2020-04-28 15:23] kartikdutt18 commented on #66
This can be closed after #72, #74 and #75.

[2020-04-30 20:45] pmixer opened #80 "CMakeLists.txt removed but no Makefile added?"
Hi Team,
I'm trying to add few more examples but still having problems compiling current examples on my machine, blocked by:

[code]
in linking phase, when compiling via
[code]

is it a boost version related issue?(used 1.6.5 as default option on ubuntu 18.04.4

Regards,
Zan

[2020-04-30 20:48] rcurtin commented on #80
Hey there @pmixer, you beat us to it. :) We're working on adding simple Makefiles in #75---hopefully that will be merged very soon (like, next couple days).

For your particular case, the command you are using looks to be correct.  So I'm not sure what the error is.  Can you paste more output?  I might be able to help diagnose the issue. :+1:

[2020-04-30 21:04] pmixer commented on #80
Hi Ryan, thx for the quick reply, the error report is too long, full of boost linking failure report, “the complie command looks okay” should be informative enough for fixing it,  THX! I’ll try to get it fixed and update later(gdm3 just failed again after re-installed nvidia driver…)

[2020-04-30 21:08] rcurtin commented on #80
:+1: probably the last 5 to 10 lines would be sufficient.

Have fun with the nvidia drivers.  I have certainly shouted at my computer quite a lot while debugging why gdm3 doesn't come up... :smile:

[2020-04-30 21:23] pmixer commented on #80
just uninstalled the driver and switched to lightdm :see_no_evil:

lol, yes, nvidia-drivers+gdm3 might be the best combination for improving one's computer fixing skills.

FYI, here are last few lines output:
[code]

as my dev environment is far from `clean`, might be a special issue.

[2020-04-30 21:35] rcurtin commented on #80
Hmm, is it possible that the boost header includes you are using differ from the `libboost_serialization.so` you are linking from?  I see `-lboost_serialization` in the command, which looks fine, and it looks like the compiler found the Boost headers just fine for inclusion, but I suspect maybe there are multiple versions of Boost installed on the system or something?  I'm not 100% sure, but maybe

[2020-04-30 21:48] pmixer commented on #80
maybe, I'll try to get a clean environment for testing. I guessed it's multi version of boost problem but it still happens  after uninstalled cisco anyconnect(the only one using it's own libboost*) :crying_cat_face: .

BTW, I'm always surrounded by these kinds of wried issues, will report back later once fixed.

(yes, lightdm much better, BTW, pls do not use newest nvidia driver if it's not necess

[2020-05-01 02:37] pmixer commented on #80
Update, I modified the Makefile based on #75 as:

[code]

it works...

and write another CMakeLists.txt:

[code]
which also work :joy_cat:, not sure what happended in linking phase if combine compiling .o file and linking together as in initial pasted compile command. Would go back to this thread latter to figure out what's wrong with it. (as compiled and executed mnist sample, would start reimple

[2020-05-07 08:03] kartikdutt18 opened #84 "VAE Model doesn't work."
While working on #83, I had to test each file to see if the changes made are working fine. This is where I ran into an error :

Run the make file to generate executable for `mnist_vae_cnn.cpp`. When you run the executable you will receive the following error on the master branch :

`[FATAL] The output width / output height is not possible given the other parameters of the layer.`

I can try openin

[2020-05-07 17:19] kartikdutt18 opened #85 "Interesting examples to add to this repo."
Hey everyone,

I am suggesting a list of examples that might be fun to add to this repo :

~1. SRGAN and maybe ESRGAN.~
2. DCGAN on CelebA(This is currently implemented as a test in mlpack).
3. Examples on text classification (I am currently working on this in my spare time (time aside from my WIP PRs)).

I hope that they will make nice additions to this repo. Let me know what you think.
Thanks a

[2020-05-08 13:58] saksham189 commented on #85
Nice idea! However we do not have GPU support and training times for the SRGAN might be very long.

[2020-05-08 14:13] kartikdutt18 commented on #85
Ahh, I understand. Maybe DCGAN example still be implemented and once bandicoot is available someone can add DCGAN as well.

[2020-05-10 21:07] shrit opened #88 "Adding Clang format support for this repository"
Hello,

I have noticed that there was an issue and a pull request has been opened last year in mlpack main repository using clang for code formatting https://github.com/mlpack/mlpack/issues/1203 https://github.com/mlpack/mlpack/pull/1205.
Following the discussion, it seems that clang-format was not a good option, especially the integration issue with Jenkins (if I understood well).
However, It sho

[2020-05-10 21:35] ShikharJ commented on #88
I personally prefer the use of a custom linting script to take care of code styling issues. It's not a great solution for the bigger `mlpack` repository, but should be fine for `ensmallen`/`models`/`examples` and so on.

[2020-05-10 21:43] shrit commented on #88
@ShikharJ I totally agree with you. Would you mind opening a pull request in this repository with the same script you have built 2 years ago for mlpack?

[2020-05-12 17:26] #63 closed

[2020-05-12 18:44] ShikharJ commented on #88
@shrit Please feel free to replicate that script, sorry for the late reply.

[2020-05-12 20:38] shrit commented on #88
Perfect, I have created a pull request, please feel free to review it

[2020-05-12 20:42] shrit commented on #85
@kartikdutt18, I would be very happy if you add a simple example that shows how we can use `LeNet` classes when your pull request https://github.com/mlpack/models/pull/3 get merged of course.
What do you think?

[2020-05-13 04:21] kartikdutt18 commented on #85
Sure, that would be great. I think it's near completion hopefully, it gets merged this week.

[2020-05-27 07:44] kartikdutt18 commented on #79
Keep open please. Thanks.

[2020-06-06 08:41] kartikdutt18 commented on #84
Keep open please. Thanks.

[2020-06-07 03:40] #80 closed

[2020-06-12 00:21] rcurtin commented on #79
#2293 is merged now, so anyone who wants to work on this can feel free.  It should be pretty straightforward (I hope! :)). :+1:

[2020-06-12 10:57] shrit commented on #85
Keep open

[2020-06-19 04:20] birm opened #97 "Binding Examples [Discussion]"
I'm not confident if this is a good idea, but it would be interesting to have a simple example for each of the bindings. This could double as a more robust binding test, as well as a demonstration. It may, however, add unneeded complexity.
I'm not sure. Thoughts?

[2020-06-19 04:24] kartikdutt18 commented on #97
I think it's a nice idea. Since the examples repo is not restricted to models, It would be a good idea to showcase various features of mlpack including the bindings.

[2020-06-19 04:25] kartikdutt18 commented on #66
Ahh, we can close this. Thanks everyone!

[2020-06-19 04:25] #66 closed

[2020-06-19 04:26] kartikdutt18 commented on #57
Tests have been implemented in models repo. Thanks everyone for all the help!

[2020-06-19 04:26] #57 closed

[2020-06-19 16:33] shrit commented on #88
This will be closed after https://github.com/mlpack/examples/pull/89

[2020-06-19 21:24] rcurtin commented on #97
I agree, it would be really nice.  For now we just have the quickstart examples, but perhaps those could be additionally moved here and then expanded on.  Some of the (very old) mlpack tutorials also have binding usage examples, but they aren't always great examples.

[2020-07-01 16:16] #88 closed

[2020-07-06 17:44] kartikdutt18 commented on #84
Keep open please. Thanks.

[2020-07-06 17:46] kartikdutt18 commented on #84
With mlpack/mlpack#2436, The above error was resolved. However the model still segfaults.

[2020-07-22 05:32] bkmgit opened #102 "Spam classification examples"
Would like to add some spam classification examples using ML Pack. Would this be useful? Some related work [here](https://fedoramagazine.org/spam-classification-with-ml-pack/)

[2020-07-22 10:15] zoq commented on #102
@bkmgit absolutely great idea

[2020-07-27 02:03] divyanshugit commented on #79
@rcurtin I would like to work on this issue.

[2020-07-27 02:12] rcurtin commented on #79
Sure, go ahead, open a PR when you have something working and we can review it. :+1:

[2020-07-27 04:52] brightprogrammer opened #105 "MNIST CNN EXAMPLE NOT RUNNING PROPERLY"
https://github.com/mlpack/examples/blob/master/mnist_cnn/mnist_cnn.cpp

The above code gives error while executiing it! I figured out that the problem was due to `mlpack::ann::NegativeLogLikelohood<>` so I replaced it with `mlpack::ann::MeanSquaredError`. The code runs fine now but the model isn't learning anything! I tried changing the model, learning rate, normalizing the data. Nothing works...

[2020-07-27 04:55] kartikdutt18 commented on #105
Hey @brightprogrammer, The issue is solved in #104, I'll open another PR with batchnorm in examples. You should see about 80% or more accuracy.

[2020-07-27 05:04] brightprogrammer commented on #105
Thanks for replying so soon! Don't mind me of I ask this dumb question (as I am a newbie in this field!) : trainY has dimensions 1xN (N being number of training samples) and output layer has dimensions 10xB (B being the batch size). I find this odd! Can you please provide some resource where I can understand this? The error I mentioned was about matrix multiplication error due to incompatible dime

[2020-07-27 05:21] kartikdutt18 commented on #105
With respect to classification problems, For the relation between N & B, in each iteration we sample trainX and trainY for `B` samples so number of predictions during training is `B`. To reduce 10 to 1, You can think that each value in 1 to 10 is the probability of the input being equal to that class. So we consider the output to be the index which has the highest probability. So during each itera

[2020-07-27 05:23] brightprogrammer commented on #105
So was the error due to classes starting from 1?

[2020-07-27 05:25] kartikdutt18 commented on #105
Ohh no, The loss was really high because the output from each layer wasn't normalized. To do that, we use BatchNorm Layer.

[2020-07-27 05:33] brightprogrammer commented on #105
Oo... I get it now!

[2020-07-27 05:36] brightprogrammer commented on #105
Please don't close this thread until unless I check whether the example. Is working or not! One more thing is there : when I use `mlpack::ann::LeakyReLU` it gives error due to `arma::as_scalar()` but when I change it to `mlpack::ann::ReLULayer` it works fine!

[2020-07-27 05:56] kartikdutt18 commented on #105
This is the result I got after 10 iterations,
[code]

[2020-07-27 07:05] kartikdutt18 commented on #105
Opened #106 to resolve this issue.

[2020-07-27 18:07] brightprogrammer commented on #105
Now I get an error while running the code!

[code]

Here is the code:
[code]

I also removed the lambda as it gave error while execution! can you please execute the above code on you pc?

[2020-07-27 18:19] kartikdutt18 commented on #105
Did you build mlpack from source?

[2020-07-27 18:46] brightprogrammer commented on #105
No I installed it from apt package on ubuntu... About 2 weeks ago

[2020-07-27 18:47] kartikdutt18 commented on #105
Hmm, The issue should be solved if you build from source.

[2020-07-27 18:47] brightprogrammer commented on #105
Version is 3.2.2-3

[2020-07-27 18:48] kartikdutt18 commented on #105
Could you try this.

[2020-07-27 19:15] brightprogrammer commented on #105
Yes I guess I have to...

[2020-07-29 04:08] brightprogrammer commented on #105
Ok so I ran the model for a random architecture and for the first time accuracy was more than 11%. It was around 60%, this means the net is learning something! I think that using a proper architecture can increase the accuracy! Thanks for help @kartikdutt18

[2020-07-29 04:09] brightprogrammer commented on #105
LeakyReLU also works fine... Maybe it was due to not normalized values (I think) or maybe something else (please point out amd close this thread)

[2020-07-30 06:10] kartikdutt18 commented on #105
Most probably yes or somewhere there was error in shape that gave that error. Glad to see that the issue is resolved.

[2020-07-30 06:31] #105 closed

[2020-08-05 18:33] kartikdutt18 commented on #84
Keep open.

[2020-08-24 06:34] bkmgit commented on #102
Started on this, see #112

A related issue is https://github.com/mlpack/mlpack.org/issues/28

[2020-09-02 06:23] heisenbuug opened #113 "New Example Using YOLO"
Hey, as YOLO has been already added to the model [repo](https://github.com/mlpack/models/tree/master/models/yolo) I was thinking I can make a Face Mask Detector using YOLO. Shall I start working on it? It will be a good example for year 2020.

[2020-09-02 06:38] kartikdutt18 commented on #113
Hey there, That would be really interesting to add however training YOLO model takes a lot of time (one epoch takes approx 10 hours on 64x 64 image). You would have to first train the model in PyTorch (hopefully using GPU) and then use the [mlpack-PyTorch-weight-translator](https://github.com/kartikdutt18/mlpack-PyTorch-Weight-Translator). This is what used for transferring weights. If you have we

[2020-09-02 06:50] heisenbuug commented on #113
I will see if I can get weights from any other source, like any already implemented network in pytorch, then as suggested I can use  mlpack-PyTorch-weight-translator and proceed. Will that be ok?

[2020-09-02 07:07] kartikdutt18 commented on #113
Sure, That makes sense.

[2020-09-02 09:52] heisenbuug commented on #113
Hey @kartikdutt18 I found this [repo](https://github.com/VictorLin000/YOLOv3_mask_detect)
I think we can use these [weights](https://drive.google.com/drive/folders/16MsdDvPuF6CxFd0vW2VYya6e5cqZJjZI) and [dataset](https://drive.google.com/drive/folders/1aAXDTl5kMPKAHE08WKGP2PifIdc21-ZG). What do you think?

[2020-09-05 15:23] kartikdutt18 commented on #84
Hmm, I'll work on this week then. Keep open till then.

[2020-09-06 04:36] kartikdutt18 commented on #113
Hey @heisenbuug, The PR for YOLOv3 hasn't be merged yet. Is there any dataset that uses YOLOv1?

[2020-09-06 10:27] heisenbuug commented on #113
@kartikdutt18 oh, I will try finding some dataset that uses YOLOv1..I will update as soon as I find any...

[2020-09-07 15:46] heisenbuug commented on #113
Hey @kartikdutt18 There is no dataset for YOLOv1, everyone is using YOLOv3 for face mask detection so we wont be getting any weights for v1 mostly. Any suggestions?

[2020-09-25 13:49] Aakash-kaushik opened #117 "Error building the mnist_cnn and mnist_simple example"
When i try to build the mnist_cnn.cpp and the mnist_simple.cpp i get the following error which is same for both files.
the version of mlpack i have is: 3.2.2-3
[code]

[2020-09-25 14:00] Aakash-kaushik commented on #117
Hey i think i have a older version of ensmallen i just compared the early_stop_at_min_loss.hpp and they are different and the function is implemented in the new one. feel free to close this issue if this is the case.

[2020-09-25 15:34] rcurtin commented on #117
@Aakash-kaushik I think that's exactly the issue here.  Make sure your version of ensmallen is up to date and I think there will be no issue. :+1:

Before I close this, though, can I ask how you installed ensmallen and what version you have installed?

[2020-09-25 15:46] Aakash-kaushik commented on #117
Hey @rcurtin my ensmallen version was `2.11.3-1` and I installed it through the ubuntu focal source, can be found [here](https://packages.ubuntu.com/focal/libensmallen-dev).
And currently I am running the version `2.14.2` from the ensmallen site.

[2020-09-25 15:50] rcurtin commented on #117
Ok, I see.  In this case this particular example requires at least `2.13.0`.  So, I see that is in Ubuntu groovy.  If you want, maybe you can file a bug asking for a backport to focal?  Alternately, maybe we can think about a way to update the documentation for this repository or add a check somehow to ensure that the user has a new enough version of ensmallen.  Let me know what you think.

[2020-09-25 15:57] Aakash-kaushik commented on #117
I think the way to go for this will be to update our documentation for this repository and add a check, because i feel like asking for a backport to focal will take a long time to render this issue useless.

[2020-09-28 14:05] Aakash-kaushik opened #120 "Guideline for adding new examples"
So this issue gives out a template or a guide that can be followed or kept in mind when writing new examples:

- The examples should be well documented in terms that can easily be understood by people entering the field of Machine learning or have been in it from a long time.

- Make examples simple enough so the user can basically grasp what he needs to build his own full fledged model and don't

[2020-09-28 14:23] shrit commented on #120
@Aakash-kaushik Thank you for writing this, I think we can add some points about tutorials too.
It is quite straightforward to write examples. Most of the above points can be agreed on by most of us.
However, it would interesting to add some points about comments and tutorials considering each example, users would like to know why we followed this pattern in writing code :+1:

[2020-09-28 14:44] birm commented on #120
I think we should leave space for especially interesting or practical examples, even if they aren't especially simple.

[2020-09-28 15:08] Aakash-kaushik commented on #120
I need to think about how and what to write and then i will add it.

[2020-09-28 15:09] Aakash-kaushik commented on #120
Yes that is correct I will add that point too.

[2020-09-28 16:15] Aakash-kaushik commented on #120
Hey @shrit, @birm give it a look now.

[2020-09-28 21:27] zoq commented on #120
@Aakash-kaushik Thanks for putting this together, can you run a spell checker over the text?

[2020-09-28 21:56] Aakash-kaushik commented on #120
Edited the issue, please take a look.

[2020-10-10 01:19] rcurtin commented on #102
Oops, no need to close this until we get #112 merged. (Hopefully soon!) :)

[2020-10-16 20:40] #117 closed

[2020-10-24 18:48] rcurtin commented on #84
I added a script to run all examples in Travis, but this one is commented out.  See #128. :+1:

[2020-10-24 18:49] rcurtin opened #130 "Fix lstm_stock_prediction dataset location"
If you try to `make` and run the `lstm_stock_prediction` example after downloading the dataset as per the README, it doesn't work:

[code]

It should be a pretty easy fix; I think the filename just needs to be fixed.

[2020-10-24 18:49] rcurtin commented on #130
(See also #128.)

[2020-10-24 19:02] rcurtin opened #131 "`mnist_batch_norm` fails with incorrect matrix multiply size"
When you build the `mnist_batch_norm` example and run it after checking out the datasets as per the README, this is the output given:

[code]

When this is fixed, `.travis.yml` can be updated to stop skipping this example.

[2020-10-26 21:59] abernauer commented on #97
Yeah when writing that example with R binding I tried to expand on the quick start example and fit it into a standard machine learning workflow. I think for newcomers to mlpack having an example with how to use a binding in data science workflow is helpful. I think it's a solid idea.

[2020-10-28 23:06] shrit commented on #120
@rcurtin do you think we can pin this issue?

[2020-10-30 22:56] rcurtin commented on #120
Yeah!  Not a bad idea.  Done. :+1:  Thanks @Aakash-kaushik for originally writing these up!

[2020-11-03 06:14] RishabhGarg108 opened #134 "Problem in shebang line in "download_data_set.py""
When I tried to download the datasets by running `./download_data_set.py` on my Ubuntu20.04 machine, I got this error
Traceback (most recent call last):
  File "./download_data_set.py", line 11, in <module>
    from tqdm import tqdm
ImportError: No module named tqdm

But when I tried `python3 download_data_set.py`, it worked.
So, the problem here is with selecting the correct python interpreter in

[2020-11-03 17:08] zoq commented on #134
That depends on your system, from your message above it sounds like your default version is python2.7 and not python3? On my system python links to python3. So I'm not sure we should change the script here, you could update your default - https://unix.stackexchange.com/a/410851.

[2020-11-03 17:30] RishabhGarg108 commented on #134
Hey @zoq , changing my default version would be a better option. This didn't come to my mind. Thanks.
So, I should close this issue now.

[2020-11-03 17:30] #134 closed

[2020-11-12 20:37] heisenbuug commented on #131
Hey @rcurtin, So when I ran the code locally it is working fine, so I think the issue is somewhere in the downloading and preprocessing of testing data step, we are getting one pixel extra(785), it should be 784(28*28). I will work on this issue.

[2020-11-12 20:44] rcurtin commented on #131
Cool, thanks!  It might be that in `mnist_batch_norm.cpp`, the labels are not being removed from the training dataset or test dataset or something.

[2020-11-12 20:58] heisenbuug commented on #131
Yea, the dataset that is being downloaded by the python script has an extra row which is not being removed by minst_batch_norm.cpp compared to the downloaded test file...
A simple change in mnist_batch_norm.cpp, the submat line for test file, passing correct parameters there should do the thing...

[2020-11-12 22:18] heisenbuug commented on #131
@rcurtin What change do I have to make in `.travis.yml`?

[2020-11-12 22:32] heisenbuug commented on #130
`download_data_set.py1 is creating a folder called data and placing all the datasets in that folder...this was a basic file path issue...
Line 135 is causing the issue...
currently: `  const string dataFile = "Google2016-2019.csv";`
change: `const string dataFile = "../data/Google2016-2019.csv";`

[2020-11-12 22:41] heisenbuug commented on #113
@kartikdutt18, any idea when will the PR for YOLOv3 will get merged?

[2020-11-12 23:36] rcurtin commented on #131
Oh, if you take a look at the script in .travis.yml, it skips the `mnist_batch_norm` example.  Just remove that bit, then you'll be able to see that it runs `mnist_batch_norm` on Travis. :)

[2020-11-13 13:42] heisenbuug commented on #131
Its done, check out the PR

[2020-11-20 02:11] rcurtin commented on #130
Thanks @heisenbuug!  This is fixed in #137.

[2020-11-20 02:11] #130 closed

[2020-11-20 02:11] rcurtin commented on #131
#137 is merged, so this is fixed now.  Thanks @heisenbuug! :+1:

[2020-11-20 02:11] #131 closed

[2020-12-01 01:24] steva44 opened #141 "Bug in RNN"
First, **thank you** to everyone for all of the great work!

In my testing of the RNN model, I seem to have found a bug. The issue is that when you call the `predict` function more than once, the results are different on the subsequent calls. This only happens after the first call. Every subsequent call results in a cube of predictions that is the same as the previous one. A simple example that de

[2020-12-01 02:35] #141 closed

[2020-12-01 02:36] steva44 commented on #141
Wrong place to post this issue. Reposted in main repo.

[2020-12-23 04:38] #102 closed

[2021-02-02 18:21] FabioMBB opened #144 "exception: std::logic_error"
Hi,
I'm trying to run the mnist_cnn example but I keep getting the following error:

Reading data ...
Start training ...

error: Mat::operator(): index out of bounds
terminate called after throwing an instance of 'std::logic_error'
  what():  Mat::operator(): index out of bounds

Is it ever happen to any of you?

Thank you so much in advance for your help,
Fabio

[2021-02-02 19:47] FabioMBB commented on #144
NVM I had to convert the dataset with the supplied python function instead of using the original one.
Thank you anyway.

[2021-02-02 20:12] FabioMBB commented on #144
In reality I had the issue is still not solved...
To solve it I had to add 1 to the y values and normalize the X.

[2021-02-02 20:22] rcurtin commented on #144
@FabioMBB glad you got it figured out---sorry we weren't able to help you sooner.  What version of mlpack are you using?  We just merged changes to master (and this branch) in mlpack/mlpack#2534 and #142, so if you aren't using mlpack git master then you will indeed need to add 1 to `y`.  If normalizing the data significantly helps convergence, want to open a PR?

[2021-02-02 20:29] FabioMBB commented on #144
Thank you very much rcurtin. I'm using mlpack-master. But maybe I have to update it.

Anyway, the results are still strange. Even when I normalize the input, the error in validation is very high. I'm not sure what I'm doing wrong....

[2021-02-02 20:36] FabioMBB commented on #144
The modifications I did are the following ones:
 // Create labels for training and validatiion datasets.
  mat trainY = train.row(0)+1;
  mat validY = valid.row(0)+1;

  // Scale all data into the range (0, 1) for increased numerical stability.
  data::MinMaxScaler scaleX;
  // Fit scaler only on training data.
  scaleX.Fit(trainX);
  scaleX.Transform(trainX, trainX);
  scaleX.Transform(validX, va

[2021-02-02 20:56] #144 closed

[2021-02-02 21:12] FabioMBB commented on #144
The modifications I did are the following ones:
// Create labels for training and validatiion datasets.
  mat trainY = train.row(0)+1;
  mat validY = valid.row(0)+1;

  // Scale all data into the range (0, 1) for increased numerical stability.
  data::MinMaxScaler scaleX;
  // Fit scaler only on training data.
  scaleX.Fit(trainX);
  scaleX.Transform(trainX, trainX);
  scaleX.Transform(validX, val

[2021-02-04 18:43] rcurtin commented on #144
@FabioMBB can you tell me what the validation error you are seeing is?  When I run against mlpack master (so that no changes are needed to `mnist_cnn.cpp` for labels), I get this:

[code]

This seems like about what I would expect.  Are you seeing a significantly different result?

[2021-02-04 21:38] FabioMBB commented on #144
@rcurtin Hi Ryan, thank you so much for following up on this. I just figured out my problem. I did not add a +1 also in the prediction labels. That was causing me to have the wrong labels with respect to the validation set. I should have updated the code with the last repository before running this example to avoid these problems. Anyway I really appreciated your help.

[2021-02-04 21:39] rcurtin commented on #144
Awesome!  Well I also found a minor bug in the implementation (it does not really affect accuracy :)) so I'll have a PR open for that once I finish local testing.  Thanks for opening the issue!  More eyes on code generally mean more issues get caught. :)

[2021-02-09 00:55] FabioMBB opened #145 "Changing CNN weights"
Hi,
I would like to change the weights of the FFN model used for the MNIST example.
I practically would like to manually set all the weights of the network (I know that it sounds strange...).

Can you guys please help me to do that?

Thank you very much in advance for your help,
Fabio

[2021-02-11 15:31] FabioMBB commented on #145
Never mind, I found a way by using model.parameters().

Thank you so much anyway.

Fabio

[2021-02-11 15:31] #145 closed

[2021-02-11 15:40] rcurtin commented on #145
Glad you got it sorted out!  And sorry for the slow response.  `model.parameters()` is a way to do it, but you may need to use some of the visitors to compute which elements of `model.parameters()` correspond to which layers.  When #2777 is merged, operations like what you are trying to do should be a lot easier. :+1:

[2021-02-11 18:56] FabioMBB commented on #145
Thank you very much Ryan, for confirming that model.parameters() is the way to go.

Have a nice day,
Fabio

From: Ryan Curtin <notifications@github.com>
Sent: Thursday, February 11, 2021 7:41 AM
To: mlpack/examples <examples@noreply.github.com>
Cc: Fabio Marino <fabio@bluberry.us>; State change <state_change@noreply.github.com>
Subject: Re: [mlpack/examples] Changing CNN weights (#145)

Glad you g

[2021-02-14 10:35] kartikdutt18 commented on #85
Hey @hello-fri-end, Feel free to do so. Also If I remember correctly, the code for this is currently available as comments in mlpack tests.

[2021-02-14 10:39] hello-fri-end commented on #85
@kartikdutt18 : Cool! I'll take a look at that.

[2021-02-15 07:05] hello-fri-end commented on #85
Hey @kartikdutt18, where can I find CelebA dataset in .csv format? I can only find .png or .jpg files online. Is there a way to load image data into an armadillo matrix, i couldn't find anything in the documentation..

[2021-02-25 01:03] FabioMBB commented on #144
Hi Ryan,
Sorry to bother you again,
But I’m having some trouble with the CNN running in parallel cores.

When I use a batch of 60, all processors run in parallel at 100%, but if I increase the batch size to 6000, I get one core at 100% and the others at 20%.
I need large batches for the project I’m using MLPACK.

Do you know why this is happening?

Thank you so much in advance for your help,
Best

[2021-02-27 00:42] rcurtin commented on #144
We primarily expect OpenBLAS to provide the parallelism, so at least from our side I'm not sure there's too much we can do.  One thing to check would be that you are using OpenBLAS, and that you are compiling with `-fopenmp` (but I would suspect that because you are seeing any parallel behavior at all, you are compiling with OpenMP support already).  OpenBLAS may not be able to parallelize as well

[2021-02-27 04:52] FabioMBB commented on #144
Thank you very much Ryan for your response.
Yes, I’m using -fopenmp and using OpenBLAS.

I was actually able to get all the cores running near 80% by using the work done by  adiwajshing (https://github.com/mlpack/mlpack/pull/2341).

I also tried to speed up the for loop in NaiveConvolution as follow (adding the intermediate variables, so that they get calculated only once), but that does not seem

[2021-02-27 22:13] rcurtin commented on #144
Nice, thank you for the information!  Let's see if we can bring #2341 back to life. :+1:

Did you find that with the modifications, that the overall computation ran faster too?

[2021-03-01 03:18] FabioMBB commented on #144
Hi Ryan,
The modifications do not seem to speed up the computation, which is very strange. I will run some more test and update you soon.

Thank you,
Fabio

From: Ryan Curtin <notifications@github.com>
Sent: Saturday, February 27, 2021 2:14 PM
To: mlpack/examples <examples@noreply.github.com>
Cc: Fabio Marino <fabio@bluberry.us>; Mention <mention@noreply.github.com>
Subject: Re: [mlpack/examples]

[2021-03-02 16:32] FabioMBB commented on #144
Hi Ryan,
The last version of the loops I’m testing in naïve_convolutional are the following two:

* Perform a convolution (valid mode).

#pragma omp parallel for schedule(static) if (input.n_cols >= 64)
    for (omp_size_t j = 0; j < o_cols; ++j)
    {
     size_t j_dW=j*dW;         //this is done as a product to avoid interference with OMP
     size_t j_o_rows=j*o_rows; //this is done as a produc

[2021-03-14 23:53] rcurtin commented on #144
@FabioMBB it might be worth trying the whole change from mlpack/mlpack#2341.  I tried it locally, modifying the `mnist_cnn` example to only run for two epochs, and here's what I saw on `master`:

[code]

And on #2341:

...
Accuracy: train = 86.237%,....]  valid = 86.1167%loss: 1744.42
Predicting ...
Saving predicted labels to "results.csv."...
Neural network model is saved to "model.bin"
Finished

[2021-03-15 15:16] FabioMBB commented on #144
Thank you very much Ryan for looking into this and glad to hear that we are getting a speed up.

Not sure about the difference in computation.

Did you try mlpack/mlpack#2341<https://github.com/mlpack/mlpack/pull/2341> with or without the changes on the loops?

Please let me know,
Thank you very much,
Fabio

From: Ryan Curtin ***@***.***>
Sent: Sunday, March 14, 2021 4:53 PM
To: mlpack/examples **

[2021-03-15 17:41] rcurtin commented on #144
I used all the changes from the branch, so maybe it is worth trying that on your end to see what happens?

[2021-03-16 18:59] FabioMBB commented on #144
Thank you very much Ryan for letting me know.

Yes, as soon as @adiwajshing finishes his review I will run some tests.

Thank you again,
Fabio

From: Ryan Curtin ***@***.***>
Sent: Monday, March 15, 2021 10:42 AM
To: mlpack/examples ***@***.***>
Cc: Fabio Marino ***@***.***>; Mention ***@***.***>
Subject: Re: [mlpack/examples] exception: std::logic_error (#144)

I used all the changes from the bra

[2021-04-22 10:50] OberstWB opened #150 "DBSCAN example datasets?"
hi,how can i get the file 'contact-tracing.csv'，i can not download from the url"https://lab.mlpack.org/data/contact-tracing.csv"

[2021-04-24 19:58] rcurtin commented on #150
@zoq should we add this CSV to mlpack.org/datasets/examples?  If so let me know... I don't have a copy of the file though (sorry @OberstWB)

[2021-04-24 20:07] zoq commented on #150
Yes, I'm currently updating the binder jupyter instance, one step is to consolidated all the datasets into one place.

[2021-04-26 12:21] rcurtin commented on #150
Hey @OberstWB, we got the website updated with new locations for the datasets.  The contact tracing dataset can be downloaded here:

http://mlpack.org/datasets/notebooks/contact-tracing.csv

I think in the upcoming days we might update the URLs to use mlpack.org instead of lab.mlpack.org, but in any case, all the notebook datasets are available in that directory: http://mlpack.org/datasets/noteboo

[2021-04-26 12:21] #150 closed

[2021-04-26 12:22] rcurtin commented on #97
@birm do you think there is anything else to do for this issue? It seems like everyone is agreed that binding examples would definitely be a good idea. :)

[2021-04-26 18:10] birm commented on #97
Should I edit this issue to include subtasks for each binding then?

[2021-04-26 18:55] rcurtin commented on #97
@birm up to you; if you want to keep it open until we have examples of each binding, that sounds good to me.  Or, it might be easier to open a new issue for it and tag it with `help-wanted` `good-first-issue`, so that newcomers can quickly get started and see what needs to be done, as opposed to scrolling through the discussion here.  Your call though. :)

[2021-05-25 05:03] bkmgit opened #154 "Put examples in folder by language"
Current [readme](https://github.com/mlpack/examples/blob/master/README.md) indicates examples should be put in folders by programming language and/or environment.  Do this and ensure that any paths are adjusted appropriately.

[2021-05-26 18:12] zoq commented on #154
In this case we should update the README, because right now the structure is more like a folder, named after the problem and the method that is used to solve and in that folder there are language specific scripts.

[2021-05-31 22:41] shrit commented on #154
Would it easier to organize that per example, rather than per programming language?
For instance, we can open a folder, and then inside we find a set of folders each one is named with a relative programming language. For instance, suppose we have the following example: `lstm_electricity_consumption`:
Inside it will be as follows:
[code]
This will standardize the structure on all sets of examples a

[2021-06-04 23:39] rcurtin commented on #154
I like @shrit's suggestion, but if we really wanted to get crazy, we could use symlinks, so that users could look either by programming language or by example. :)

https://mokacoding.com/blog/symliks-in-git/

(That may not work right on Windows if someone actually clones the repository, but it should at least work for browsing on Github.)

[2021-06-11 18:55] #84 closed

[2021-07-08 21:48] rcurtin commented on #154
Should we keep this one open?  I think it is maybe a nice idea, it just needs someone to take the initiative and do it.  (Given infinite time, I will do it, but the task list won't be clean anytime soon :).)

[2021-07-12 19:26] shrit commented on #154
Yes, Let us keep this open, I will do it one day when I have the time unless someone volunteers to do this.

[2021-07-30 16:31] bkmgit opened #175 "MNIST dataset"
Maybe good to self-host the MNIST dataset. http://yann.lecun.com/exdb/mnist/ - suggests saving data rather than repeatedly downloading.

[2021-09-05 18:13] #175 closed

[2021-10-07 11:33] AdmiralPellaeon opened #183 "Exception in mnist_cnn.cpp"
I build mlpack with VS2019 x64 for Windows. I also created the needed CSV file with the data with the help of the python script from the tools directory.

I tried to run the "mnist_cnn.cpp" from this repo. Compiling works fine, but during the training an exception is thrown: "error: Mat::operator(): index out of bounds".

This is the call stack until the exception occurs:
![grafik](https://user-im

[2021-10-23 01:32] rcurtin commented on #183
Hey @AdmiralPellaeon, thanks for the report.  What version of mlpack are you compiling against?

[2021-10-26 06:32] #183 closed, assigned to nobody

[2021-11-23 05:50] dfy888 opened #185 "it is solved！"

[2021-11-23 05:54] dfy888 commented on #185
Found Boost: /usr/include (found version "1.69.0") found components: unit_test_framework serialization

[2021-11-23 05:56] dfy888 commented on #185
boost::archive::basic_binary_oprimitive<boost::archive::binary_oarchive, char, std::char_traits<char> >::save(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&)’未定义的引用

[2021-11-23 06:08] dfy888 commented on #185
ok !  boost::serialization 未定义的引用  还要加上这个 -lboost_serialization

[2021-11-23 06:48] dfy888 commented on #183
yes,it is work!

[2021-11-24 23:54] rcurtin commented on #185
Awesome, glad you got the issue solved.  I will go ahead and close this then. :+1:

[2021-11-24 23:54] #185 closed

[2022-01-03 03:07] rcurtin opened #186 "Set up CI workflow on Jenkins"
Since Travis no longer works for us, we should just set up a Jenkins job to run the script that Travis currently does.

[2022-01-15 18:22] chase-metzger opened #189 "Target class out of range when compiling and running mnist examples"
I downloaded mlpack 3.4.2, copied the `mnist_simple` example and downloaded the mnist_training and mnist_test csv files from Kaggle as the example illustrates. The data reads fine but when the training starts I get a std::runtime_error stating [DEBUG] Target class out of range.

Is there something new in mlpack that is causing this? Am I doing something wrong even though I just copied and pasted t

[2022-01-15 18:27] shrit commented on #189
We had a lot of changes from the last mlpack release as we are preparing for the next major release.
It would be easier to use the master version directly.
Let me know if you need any help.

[2022-01-17 19:40] rcurtin commented on #186
I ended up setting it up on Azure Pipelines instead of Jenkins, but with #188 merged this is now fixed. :+1:

[2022-01-17 19:40] #186 closed

[2022-01-18 18:51] rcurtin commented on #189
@shrit is right---there was recently a change in mlpack master, but there hasn't been a new release yet, so what ended up happening is that the examples are now incompatible with mlpack 3.4.2.  It's not a great situation, but you can work around it either by checking out an old version of the examples repository, or building against the git master branch.  We hope to release mlpack 4.0.0 soon, whi

[2022-01-23 23:50] chase-metzger commented on #189
Thanks for the info. I'll try building the master and compile the examples again.

[2022-02-24 07:30] dnabanita7 commented on #154
I will take it up.

[2022-02-25 05:03] dnabanita7 commented on #154
The user can create symlinks accordingly, won't it be messy if we do it from our side? The number of examples will keep on increasing and for each example the respective folders and the language bindings will add up.

[2022-02-25 05:06] dnabanita7 commented on #154
I like @shrit 's idea better. Let me know if we should go with symlinks or not.
So, we don't have bindings for all languages for a particular example at the moment. I will have to create that as well? It will be good if I take up one like ``lstm_electricity_consumption`` and create a sample PR for the same.

[2022-02-25 05:25] bkmgit commented on #154
This could also be done in the README document. The list of examples could be updated to have links and the language used.

[2022-02-25 06:04] dnabanita7 commented on #154
The README for each example, right? Yes, that could be done.

[2022-02-25 06:12] bkmgit commented on #154
The main [README](https://github.com/mlpack/examples/blob/master/README.md) is sufficient, but feel free to do anything else that would make it easier for others to use the examples and find appropriate ones.

[2022-02-25 14:27] rcurtin commented on #154
Yeah, symlinks might be not a great solution here. If we want to arrange things such that the primary way we intend for users to find examples is by reading the README, then it may be worth putting all the examples under an `examples/` subfolder, so that when someone accesses the Github repository they don't have to scroll far to get to the README and the organized list of examples. :+1:

[2022-02-25 14:41] bkmgit commented on #154
Maybe the top of the README should have the list of examples and the languages they are available in? It need not have the links, but this would save time checking each folder to find if it has examples in the language you want to use.

[2022-03-10 08:04] Saikirannaidu225 commented on #120
I will add some example tutorial using mlpack. I will document the examples well understood and precise. Please assign this to me

[2022-03-10 10:54] Aakash-kaushik commented on #120
Hey @Saikirannaidu225, welcome and feel free to take those up and create a draft PR for those.
But this issue is just a skeleton and only serves as a guideline on how things should be and not as an actual issue.

[2022-03-10 16:05] Saikirannaidu225 commented on #154
I am interested to take up this issue. Please assign me...

[2022-03-10 16:08] Saikirannaidu225 opened #194 "Mlpack tutorials on NLP related projects"
There are only computer vision related examples in this repo. Improve the repo by adding  examples related to NLP

[2022-03-10 16:09] Saikirannaidu225 commented on #194
@kartikdutt18  please assign me this issue . I will work on it .

[2022-03-11 06:47] kartikdutt18 commented on #194
Hey @Saikirannaidu225, sure! Please feel to work on this. Is there any specific model that you are planning to add (Mentioning sample dataset and model might be useful for everyone that reads this thread). Thanks for picking this up!

[2022-04-17 07:06] #194 closed

[2022-05-24 22:04] #79 closed

[2022-06-27 22:32] jjYBdx4IL opened #198 "MNIST simple example fails training against mlpack 3.4.2 on Windows/MSVC Visual Studio 17 latest"
I installed mlpack 3.4.2 (also tried 3.4.1, same result) using the vcpkg port.

The mnist_simple example is the one before the mentioned API change in git log, obviously.

Here is the trace:

[code]

In Mat_meat.hpp there is an obviously wrong variable value `in_row = 18446744073709551615`:

[code]

Would be great to have some Windows CI.

[2022-07-01 15:14] rcurtin commented on #198
Ah, sorry you are having issues.  Maybe you need to use the version before [this PR](https://github.com/mlpack/examples/pull/142)?  In master (but not 3.4.2), `NegativeLogLikelihood` expects classes starting at 0, but in 3.4.2, they are expected to start at 1.  Just guessing by the digging you have done, that is probably the issue.

[2022-07-01 15:14] rcurtin commented on #198
And, yeah, agreed, getting Windows CI would be great---but that will be a lot easier once mlpack 4 is released (which hopefully should be soon, and should also mean you don't have to juggle different versions of this repository and mlpack like you needed to). :+1:

[2022-07-08 15:51] fRod75 opened #199 "Error compiling : RNN class : expected a type, got MeanSquaredError"
![error](https://user-images.githubusercontent.com/88926314/178027162-b9874cd7-bae6-4b2a-b026-ccb0fb06cfc0.png)

Error compiling under examples/lstm_stock_prediction

[2022-07-08 16:09] rcurtin commented on #199
What version of mlpack are you using?  Right now this repository will only work with the `master` branch.

[2022-08-07 16:36] #198 closed

[2022-08-14 17:36] #199 closed